@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,500,600,700,800,900')

*{
    margin:0px;
    padding:0px;
}

/*----------------------------------scrollbars----------------------------------*/
 body::-webkit-scrollbar {
    width : 1em;
    }
 body::-webkit-scrollbar-track {
    box-shadow : 0 0 6px rgb(0, 0, 0, 0.3) inset;
    }
 body::-webkit-scrollbar-thumb {
    background-color : #f3c5c5;
    outline : 1px solid #87aace;
    }

    /*-----------------------Navigation----------------*/
#nav-bar {
    position : sticky;
    top : 0;
    z-index : 10;
    }
.navbar-brand img {
    height : 40px;
    padding-left : 40px;
    }
.navbar-nav li {
    padding : 0 10px;
    }
 .navbar-nav li a {
    float : left;
    text-align : left;
    color : #000;
    font-size : 16px;
    font-family : "josefin sans", sans-serif;
    background : #eec5c5;
    }

 .navbar-expand {
    width : 332px;
    height : 56px;
    }

.navbar-collapse {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        -ms-flex-positive: 1;
        flex-grow: 1;
        -ms-flex-align: center;
        align-items: center;
        background-color: #eec5c5;
    }

#nav-bar ul li a:hover {
    color : #f57a4d ;
    }
    
.navbar {
    background : #eec5c5;
    position : relative;
    display : flex;
    flex-wrap : wrap;
    align-items : center;
    justify-content : space-between;
    margin : 0 auto;
    padding : 0;
    width : 100%;
    height : 3em;
    }
   
 .carousel-inner img {
    max-width: 100%;
    height: 100vh;
    }
    
.navbar-toggler {
    border : none !important ;
    }
.nav-link {
    color : #6e6464 ;
    font-weight : 600;
    font-size : 16px;
}
/*-------------------------------Home slider---------------------*/

 .homeslider {
    width : 100%;
    height : auto;
    }
.carousel-caption h2{
    color : #fff;
    background-color:black;
    text-transform: uppercase;
    width: fit-content;
    opacity : 70%;
    margin : auto;
    font-size : 20px;
    display: block;
}
 .carousel-caption h2:hover {
    color : #e2705e ;
 }
.carousel-caption {
    top : 30%;
    transform : translateY(30%);
 }

.carousel-item {
        height : inherit;
        vertical-align : middle;
        border-style : none;
    }
    
.img-fluid-img1, .img-fluid-img2, .img-fluid-img3 {
        max-width: 100%;
        height: 100vh;
    }
.carousel-indicators {
    z-index : 2;
 }
     /*-------------------------------------About Me------------------------------*/
.about {
    padding-top : 10px;
    }
.profile-img {
    padding-top : 50px;
    padding-bottom : 50px;
    height : 500px;
    border : #f0b1b1 solid 2px !important ;
    border-radius : 4px;
    padding : 5px;
    width : 300px;
    }
.profile-img:hover{ 
    box-shadow : 0 0 20px 20px #f0cccc !important ;
    }
.box {
    margin-top : 10px;
    margin-bottom : 50px;
    position : relative;
    background : #f6ebeb !important ;
    box-sizing : border-box;
    transition : 5s;
    overflow : hidden;
    }
 .box p {
    margin : 0;
    padding : 0;
    color : #000 !important ;
    font-size : 18px;
    font-family : "josefin sans", sans-serif;
    transition : 5s;
    transform : scale(0.8);
    }
.box:hover {
    box-shadow : 0 50px 50px rgb(0, 0, 0, 0.8);
    }
.box span {
    position : relative;
    top : 0;
    width : 100%;
    height : 100%;
    transition : 5s;
    transition-delay : 2s;
    transform : skewX(5deg);
    }
.box:hover span {
    left : 120%;
    }
.skills-bar p {
    margin-bottom : 6px;
    font-weight : 600;
    }
.progress {
     border-radius: 16px;
     margin-bottom: 10px; 
    display : flex;
    height : 1rem;
    overflow : hidden;
    line-height : 0;
    font-size : 0.75rem;
    background-color: #8d8585!important;
    }
.progress-bar-style{ 
       display: flex;
       -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-pack: center;
        justify-content: center;
        overflow: hidden;
        border-radius: 16px;
        text-align: center;
        white-space: nowrap;
        transition: width .6s ease;  
        background-color: #eec5c5 !important ;
    }
    
    /*-------------------------------------Resume------------------------------*/
.resume {
    padding-top : 30px;
    background : #f6ebeb ;
    }
.resume h3 {
    margin-bottom : 50px;
    font-family : "josefin sans", sans-serif;
    }
.timeline {
    list-style : none;
    position : relative;
    }
 .timeline:before {
    content : '';
    background-color : #eba8a8;
    position : absolute;
    left : 29px;
    width : 2px;
    height : 100%;
    z-index : 1;
    }

.timeline li {
    margin-top : 20px;
    margin-bottom : 20px;
    margin-left : 20px;
    }
 
 .timeline li h4 {
    background-color : #c7a0a0 ;
    padding : 5px 0 5px 20px;
    color : #000 ;
    font-family : "josefin sans", sans-serif;
    font-size : 16px;
}

.timeline li:before {
    content : '';
    background : #e0a7a7 !important ;
    display : inline-block;
    position : absolute;
    border-radius : 50%;
    border : #f1dcdc solid 3px !important ;
    left : 20px;
    width : 20px;
    height : 20px;
    z-index : 1;
    }
    
    /*-----------------------------------SERVICES---------------------*/
.services {
    padding-top : 50px;
    padding-bottom : 30px;
    padding-left : 50px;
    }

.services h1 {
    margin-bottom : 15px;
    font-family : "josefin sans", sans-serif;
    letter-spacing : 1px;
    }

.h1:after {
    content : '';
    background : white;
    display : block;
    width : 150px;
    height : 3px;
    margin : 10px auto;
    }
    
.row{
    justify-content: center;
}

.services-box {
    background : #f9f9f9;
    padding : 10px;
    margin-top : 20px;
    border-top-right-radius : 50px;
    border-bottom-left-radius : 50px;
 }

.services-box p {
    font-size : 14px;
    margin-top : 20px;
    font-family: "josefin sans", sans-serif;
    }

.icon {
    font-size : 40px;
    margin : 20px auto;
    padding : 20px;
    height : 80px;
    width : 80px;
    border : rgb(219, 148, 122) solid 2px !important ;
    border-radius : 50%;
    }

.col-md-5:hover {
    box-shadow : 5px 7px 9px -3px #D66363;
    cursor : pointer;
    }

.services-box:hover {
    background : rgb(238, 201, 187) !important ;
    color : #fff;
    border-top-right-radius : 0;
    border-bottom-left-radius : 0;
    border-top-left-radius : 50px;
    border-bottom-right-radius : 50px;
    transition : 1s;
    }

.services-box:hover p {
    color : #fff;
    }
    
/*-----------------------------------CONTACT-----------------------------*/
.contact-container{
    margin-top: 25px;
    margin-bottom: 25px;
    background: #eec5c5;
    background-size: cover;
    width: fit-content;
    color: #000;
    line-height: 1;
    font-family: "josefin sans", sans-serif;
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
    box-sizing: border-box;
    border-radius: 10%;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
    
}

.contact-container ul{
    list-style: none;
    padding: 0;
  }
  
.brand {
    padding-right: 30px;
    font-size: 32px;
    font-family: "josefin sans", sans-serif;
    font-weight: bold;
  
  }
  
.brand span {
      text-align: center;
      color: #000;    
  }
  
.text-style{
      font-size: 28px;
  }
  
.wrapper {
    box-shadow: 0 0 20px 0 #5975e6;
  }
  
.wrapper > * {
    padding: 1em;
  }
   
                            /* INFORMATION */

  
.company-info {
    background: #eec5c5;;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
     border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }
  
.company-info h3,p
.company-info ul {
    text-align: center;
    margin: 0 0 1rem 0;
  }
  
.company-info .fa {
    padding : 10px;
    font-size : 16px;
    }
    
 .fa:hover {
    opacity : 0.7;
    }
   
 .company-info a {
    color : #000;
    position : relative;
    }

.company-info .btn a {
    color : #000;
    }
    

.company-info .btn {
    padding : 10px 25px 10px 25px;
    margin : 5px;
    border-radius : 30px;
    border : #000 solid 2px;
    background : transparent;
    }
    
.btn {
    display : inline-block;
    font-weight : 400;
    color : white;
    text-align : center;
    vertical-align : center;
    }
    
        /* CONTACT */
 .contact {
    background: #d8c2c2;
 }
      /* FORM */
.contact form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
 }
  
.contact form label {
    display: block;
  }
  
.contact form p {
    margin: 0;
  }
  
.contact form .full {
    grid-column: 1 / 3;
  }
  
.contact form button,
.contact form input,
.contact form textarea {
    width: 100%;
    padding: 1em;
    border: solid 1px #eec5c5;
    border-radius: 4px;
  }
  
.contact form textarea {
    resize: none;
  }
  
.contact form button {
    background: #eec5c5;;
    border: 0;
   color: #1b1919;
    font-size: 14px;
    font-weight: bold;
  }
  
.contact form button:hover,
.contact form button:focus {
    background: #eec5c5;
    color: #ffffff;
    outline: 0;
    transition: background-color 2s ease-out;
  }

.footer {
    background : #eec5c5;
    height : 10px;
    margin-top : 10px;
    font-family: "josefin sans", sans-serif;
    color : #000;
    padding-top : 10px;
}

/*-----------------------------Social icons-------------------*/
.text {
  padding-top: 60px;
  padding-bottom: 60px;
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  white-space: nowrap;
}

.rounded-social-buttons {
  text-align: center;
}

.rounded-social-buttons .social-button {
  display: inline-block;
  position: relative;
  cursor: pointer;
  width: 3.125rem;
  height: 3.125rem;
  border: 0.125rem solid transparent;
  padding: 0px;
  text-decoration: none;
  text-align: center;
  color: #fefefe;
  font-size: 1.5625rem;
  font-weight: normal;
  line-height: 2em;
  border-radius: 1.6875rem;
  transition: all 0.5s ease;
  margin-right: 0.25rem;
  margin-bottom: 0.25rem;
}

.rounded-social-buttons .social-button:hover, 
.rounded-social-buttons .social-button:focus {
  -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
          transform: rotate(360deg);
}

.rounded-social-buttons  .fa-github, .fa-linkdin .fa-twitter, .fa-instagram {
  font-size: 25px;
}

.rounded-social-buttons .social-button.github {
  background: #000;
}

.rounded-social-buttons .social-button.github:hover,
 .rounded-social-buttons .social-button.github:focus {
  color: #eec5c5;
  background: #fff;
  border-color: #000;
}

.rounded-social-buttons .social-button.linkedin{
  background:#3b5998;
}

.rounded-social-buttons .social-button.linkedin:hover,
 .rounded-social-buttons .social-button.linkedin:focus {
  color: #eec5c5;
  background: #fefefe;
  border-color: #007bb5;
}

.rounded-social-buttons .social-button.twitter{
  background:#3b5998;
}

.rounded-social-buttons .social-button.twitter:hover, 
.rounded-social-buttons .social-button.twitter:focus {
  color: #eec5c5;;
  background: #fefefe;
  border-color: #007bb5;
}


.rounded-social-buttons .social-button.instagram {
  background: #e28080;
}

.rounded-social-buttons .social-button.instagram:hover, 
.rounded-social-buttons .social-button.instagram:focus {
  color: #633c3c;
  background: #e59b9b;
  border-color: #d46868;
} 

        /* MEDIA QUERIES */
@media only screen and (min-width: 700px) {
.wrapper {
      display: grid;
      grid-template-columns: 1fr 2fr;
    }
  
.wrapper > * {
      padding: 1em;
    }
  
.company-info {
      border-radius: 10px 5 5 10px;
    }
  
.contact {
      border-radius: 10 5px 10px 5px;
    }
  
.company-info h3,
.company-info ul,
.brand {
      text-align: left;
    }
  }



