
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,500,600,700,800,900')

*{
    margin: 0;
    padding: 0;
}
/*-----------------------Navigation----------------*/
#nav-bar{
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar-brand img{
    height: 40px;
    padding-left: 30px;

}
.navbar-nav li{
    padding: 0 10px;
}
.navbar-nav li a{
   float: right;
   text-align: left;
} 

.navbar-expand{
    width: 332px;
    height: 56px;

}

#nav-bar ul li a:hover {
    color:rgb(235, 192, 176)!important;
}
.navbar{
    background: #fff;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 1rem;
}
.navbar-toggler{
    border: none!important;
}
.nav-link{
    color: rgb(110, 100, 100)!important;
    font-weight: 600;
    font-size: 16px;
}
 
  /*----------------------------------scrollbars----------------------------------*/
  .scroll-btn{
    bottom: 30px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border: 2px solid #ffffff;
    padding: 10px 10px 20px;
    border-radius: 30px; 
}

 .scroll-bar span{
      border: 4px solid #fff;
      font-size: 10px;
      border-radius: 30px;
}

  .scroll-bar{
      animation: mover 1s infinite alternate;
  }

  @keyframes:mover {
      0%{transform: translateY(0);}
      100%{transform: translateY(10px);}
  }

  ::-webkit-scrollbar {
    width: 15px;
}

    ::-webkit-scrollbar-track {
        border: 7px solid #232323;
        box-shadow: inset 0 0 5px grey; 
        border-radius: 8px;
    }

    ::-webkit-scrollbar-thumb {
        background: rgb(235, 192, 176)!important;
        border-radius: 10px;
      }

      ::-webkit-scrollbar-thumb:hover {
        background:rgb(94, 145, 153);
      }
/*-------------------------------Home slider---------------------*/
.homeslider{
    width: 100%;
}

.carousel-caption h5{
    color: #fffeff;
    font-size: 38px;
}
.carousel-caption h5:hover {
    color:rgb(235, 192, 176)!important;
}
.carousel-caption {
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}

.carousel-item {
    height:inherit;
    vertical-align: middle;
    border-style:none;
}
.carousel-indicators {
    z-index: 2;
}



/*-------------------------------------About Me------------------------------*/
.about {
    padding-top: 30px;
    padding-bottom: 30px;
}
.about-section{
    width: 100%;
    background:rgb(246, 235, 235)!important;
    padding: 40px 0;
}
.inner-width{
    max-width: 1000px;
    overflow:hidden;
    padding: 0 20px;
    margin: auto;
    color: black!important;

}
.innner-width:hover{

color:rgb(238, 199, 185)!important;
}

.profile-img {
  border-radius: 50%;
  width: 300;
  height: 300px;

}

.img-center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  border-radius: 8px;
  width: 300;
  height: 300px;
}

.about-section h3{
    text-align: center;
    letter-spacing: 6px;
    text-shadow: wheat;
}

.about-section-row{
    display: flex;
    flex-wrap: wrap;
}

.about-section-col{
    flex: 50%;
    margin-top: 0;
}

.about{
    padding-right: 30px;

}
.about p{
    text-align: justify;
    margin-bottom: 20px;
    margin-top: 0;
    background-color: rgb(240, 207, 204);
}

.skills{
    padding-left:30px;
    margin-top: 0;
}

.skill{
    margin-bottom:10px;
}

.progress{
    width: 100%;
    height: 12px;
    background: #ddd;
    border-radius: 12px;
}


skills-bar p{
    margin-bottom: 6px;
    font-weight: 600px;
}
.progress {
   border-radius: 16px !important;
   margin-bottom: 10px;
   background-color: rgb(201, 156, 140)!important;
}

.progress-bar{
    border-radius: 16px;
    background: rgb(224, 185, 171)!important;
}


.skills-bar {
    width: 500px;
    font-family: sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 10px;  
    margin: 10px;
   
}


/*-------------------------------------Resume------------------------------*/
.resume{
    padding-top: 50px;
    padding-bottom: 30px;
    background:rgb(246, 235, 235)!important;
}
.resume h3{
    margin-bottom: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
.timeline{
    list-style: none;
    position: relative;
}

.timeline:before{
    content:'' ;
    background-color:rgb(241, 198, 198);
    display:inset-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 1;
}

.timeline li{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    background:container;
}

.timeline li h4{
    background-color: rgb(236, 183, 183)!important;
    padding:5px 0 5px 20px;
    color: black!important;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    font-weight: bold;
}

.timeline li:before{
    content:'' ;
    background:rgb(197, 119, 119)!important;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border:3px solid rgb(235, 164, 164)!important;
    left:20px;
    width: 20px;
    height: 20px;
    z-index:1;

}

/*-----------------------------------SERVICES---------------------*/
.servicescontainer{
    margin: 20px auto;
    text-align: center;
    background: rgb(246, 235, 235)!important;
}

.h1{
    font-family: sans-serif;
    letter-spacing: 1px;
}

.h1:after{
    content:'' ;
    background: white;
    display: block;
    width: 150px;
    height: 3px;
    margin: 10px auto;
   
}

.services-box {
    background: #f9f9f9;
    margin-top:20px;
    padding: top 20px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    box-sizing: content-box;
}

.icon{
    font-size: 40px;
    margin: 20px auto;
    padding: 20px;
    height: 80px;
    width: 80px;
    border: 1px solid rgb(219, 148, 122)!important;
    border-radius: 50%;
}
.col-md-5:hover{
    box-shadow: 5px 7px 9px -3px  rgba(238, 81, 81, 0.5);
    cursor: pointer;
}

